* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
#root {
    display: flex;
    flex-direction: column;
    align-items: normal;


}
.App {

    width: 1000px;


}

.post {
    display: flex;
    padding: 15px;
    border: 5px solid forestgreen;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.remove-btn {
    margin-right: 0.5rem;
}

.task-enter {
    opacity: 0;
}
.task-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.task-exit {
    opacity: 1;
}
.task-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    display: flex;
    padding: 10px;
    border: 1px solid forestgreen;
    margin-top: 30px;

}

.page_current {
    border: 2px solid orange;
    font-weight: bold;
}

.navbar {
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightblue;
}

.navbar__links {
    margin-left: auto;
}